<!DOCTYPE html>
<html>
	<head>
		<title>MsFixMeApp - Administration</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id='admin-content'>
			<div id='header'>
				<div id='title'>
					<%= link_to raw('Amozan.com - Administration'), '/administration' %>
				</div>
				<div id='navigation'>
					<% if current_administration_user %>
					<ul>
						<li><%= link_to 'Categories', administration_categories_path %></li>
						<li><%= link_to 'Products', administration_products_path %></li>
						<li><%= link_to 'Variants', administration_variants_path %></li>
						<li><%= link_to 'Pages', administration_pages_path %></li>
					</ul>
					<% end %>
					<% if @product %>
					<br />
						<ul>
							<% unless @product.categories.empty? %>
								<% @product.categories.each do |category| %>
									<%= content_tag(:li, link_to(category.name, administration_category_path(category), :class => "")) %>
								<% end %>
							<% else %>
								<%= content_tag :li, "No categories" %>
							<% end %>
						</ul>
					<% end %>
				</div>
				<div id="user">
					<% if current_administration_user %>
						<%= link_to "Sign out", destroy_administration_user_session_path, :method => :delete %>
						<%= link_to "Edit Account", edit_administration_user_registration_path %>

					<% end %>	
				</div>
						
			</div>
			<div id='main-body'>
				<%= yield %>
			</div>
		</div>
	</body>
</html>
