<h1>Listing variants</h1>

<table>
  <tr>
    <th>Sku</th>
    <th>Product</th>
    <th>Price</th>
    <th>Weight in grams</th>
    <th>Description</th>
    <th>Bay</th>
    <th>Stock level total</th>
    <th>Stock level reserved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @variants.each do |variant| %>
  <tr>
    <td><%= variant.sku %></td>
    <td><%= variant.product_id %></td>
    <td><%= variant.price %></td>
    <td><%= variant.weight_in_grams %></td>
    <td><%= variant.description %></td>
    <td><%= variant.bay %></td>
    <td><%= variant.stock_level_total %></td>
    <td><%= variant.stock_level_reserved %></td>
    <td><%= link_to 'Show', administration_variant_path(variant) %></td>
    <td><%= link_to 'Edit', edit_administration_variant_path(variant) %></td>
    <td><%= link_to 'Destroy', administration_variant_path(variant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Variant', new_administration_variant_path %>
