<% url = {
	:url => ( @category.new_record? ? administration_categories_path : administration_category_path), 
	:html => { :multipart => true }
	} 
%>

<%= nested_form_for(@category, url ) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url_segment %>
    <%= f.text_field :url_segment %>
  </div>
  <div class="field">
    <%= f.label :parent_category_id %>
    <%= f.number_field :parent_category_id %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :meta_keywords %>
    <%= f.text_field :meta_keywords %>
  </div>
  <div class="field">
    <%= f.label :meta_description %>
    <%= f.text_field :meta_description %>
  </div>
  <div class="field">
   	<%= f.label :picture %>
   	<%= f.file_field :picture %>
  </div>
  <div>
  	<%= f.fields_for :products do |product_form| %>
  		<%= product_form.text_field :name %>
	  	<%= product_form.link_to_remove "Remove this Product" %>
	<% end %>
	<p><%= f.link_to_add "Add a Product", :products %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	

<% end %>
