<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url segment</th>
    <th>Published status</th>
    <th>Parent category</th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr class='<%= cycle("odd", "even") %>'>
    <td><%= category_link(category) %></td>
    <td><%= category.url_segment %></td>
    <td><%= published_status(category.published_status) %></td>
    <td><%= category_link(category.parent) %></td>
    <td><%= link_to 'Edit', edit_administration_category_path(category) %></td>
    <td><%= link_to 'Destroy', administration_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_administration_category_path %>
